input[type="checkbox"] {
    display: none;
    width: 100%;
}

label {
    cursor: pointer;
}

#diamond {
    /* background-color: rgb(211, 50, 130); */
    background-color: #b9f2ff;
    color: black;
    cursor: pointer;
}

#platinum {
    /* background-color: #63adb3; */
    background-color: #E8E7E3;
    color: black;
    cursor: pointer;
}

#gold {
    background-color: #d4af37;
    cursor: pointer;
}

#silver {
    background-color: #C3C3C3;
    cursor: pointer;
}

#bronze {
    background-color: #bd5e00;
    color: white;
    cursor: pointer;
}

#badge {
    background-color: rgb(255, 255, 255);
    border: 1.5px solid black;
    color: black;
}