.modal-title>input {
    border: none;
    background-color: transparent;
    font-size: 1.5em;
    font-weight: bold;
    color: #000;
    outline: none;
    width: 100%;
}

.dedicated-to-input {
    border: none;
    background-color: transparent;
    font-size: 1.5em;
    font-weight: bold;
    color: #000;
    outline: none;
    margin-top: 2em;
}

.note-container {
    width: 100%;
}

.badge>input {
    display: none;
}