.modal-title > input{
    border: none;
    background-color: transparent;
    font-size: 1.5em;
    font-weight: bold;
    color: #000;
    outline: none;
    width: 100%;
}
.dedicated-to-input{
    border: none;
    background-color: transparent;
    font-size: 1.5em;
    font-weight: bold;
    color: #000;
    outline: none;
    margin-top: 2em;
}

.note-input{
    margin-top: 3em;
    margin-bottom: 2em;
    margin-left: 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.note-input > textarea{
    width: 100%;
    height: 100%;
    border: none;
    background-color: transparent;
    padding: 10px;
    outline: none;
}
.badge > input{
    display: none;
}