.login-page{
    height: 80vh;
    width:  80vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 1px 10px #ccc;
    margin-top: 6%;
}
.signin-text{
    font-size: 1.6rem;
    font-weight: 500;
    margin-top: 8em;
    margin-bottom: 2.5em;
}
.login-sidebar{
    height: 100vh;
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.thanks-image{
    height: auto;
    width: 100%;
    margin-left: 1px;
}
.login-container{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


}
.login-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 85%;
    height: 80vh;
}

.image-login {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 2.4rem;
    align-self: center;
    width: 22%;
    height: 22%;
}

.greeting-login {
    font-size: 0.8rem;
    font-weight: 400;
    color: rgb(151, 151, 151);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

@media (max-width: 1000px) {
    .login-sidebar{
        width: 90%;
    }
}
@media (max-width : 768px) {
    .login-page{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 80vh;
    }
    .login-sidebar{
        margin-top: 6em;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .thanks-image{
        width: 100%;
        margin-top: 10em;
        margin-left: 0;
    }
    .signin-text{
        margin-top: 2em;
        font-size: 1.4em;
    }
}
@media (max-width : 576px) {
    .login-page{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 80vh;
    }
    .login-sidebar{
        margin-top: 6em;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .thanks-image{
        width: 100%;
        margin-top: 10em;
        margin-left: 0;
    }
    .signin-text{
        margin-top: 2em;
        font-size: 1.4em;
    }

}
