.profile-page{
    display: flex;
    height: 100vh;
    width: 70%;
    margin-top: 3.5em;
    flex-direction: column; 
}

.profile-card{
    height: 30%;
    background-color: #f8f8f8;
    border-radius: 2em;
    display: flex;
    flex-direction: row;
    box-shadow: rgb(48, 46, 46) 0px 0px 3px;
    color: rgb(48, 46, 46);
    width: 100%;
}

.profile-photo{
    height: 100%;
    width: 22%;
}

.dot{
    height: 60%;
    width: 60%;
    margin: 20%;
    background-color: #bbb; 
    border-radius: 50%;
    display: inline-block;
}

.user-name{
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 1.5em;
}

.name{
    font-size: 2.5em;
    margin-bottom: 1.5em;
    font-weight: 500;
}

.profile-badges{
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-top: 2em;
    margin-bottom: 2em;
    margin-right: 15em;
    text-align: left;
    justify-content: space-between;
    word-wrap: break-word;
}

.diamond{
    color: rgb(211, 50, 130);
    font-weight: 600;
}

.golden{
    color: #ffd900;
    font-weight: 600;
}

.silver{
    color: #c0c0c0;
    font-weight: 600;
}

.bronze{
    color: #bd5e00;
    font-weight: 600;
}

.platinum{
    color: #63adb3;
    font-weight: 600;
}

.messages-panel{
    /* background-color: black; */
    height: 6%;
    margin-top: 4em;
    padding-left: 5%;
    padding-right: 5%; 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
}

.messages-1{
    float: left;
    color: black;
    font-size: 1.6em;
    font-weight: bold;
    padding-top: 1%;
    padding-left: 2em;
    padding-right: 2em;
    height: 100%;
    display: flex;
    flex-direction: column;
    /* background-color: cornflowerblue; */
    cursor: pointer;
}

.messages-2{
    float: left;
    color: black;
    font-size: 1.6em;
    font-weight: bold;
    padding-top: 1%;
    padding-left: 2em;
    padding-right: 2em;
    height: 100%;
    display: flex;
    flex-direction: column;
    /* background-color: cornflowerblue; */
    cursor: pointer;
}
