.profile-page {
    display: flex;
    height: 100%;
    width: 100%;
    margin-top: 3.5em;
    flex-direction: column;
}

.profile-card {
    height: fit-content;
    background-color: #f8f8f8;
    justify-content: space-between;
    margin: auto;
    padding: 3em;
    border-radius: 2em;
    display: flex;
    flex-direction: row;
    box-shadow: rgb(48, 46, 46) 0px 0px 3px;
    color: rgb(48, 46, 46);
    width: 50%;
}

.profile-image {
    float: left;
    padding: auto;
}

.user-name {
    display: flex;
    flex-direction: column;
    float: right;
    margin-left: 3em;
    margin: auto;
}

.name {
    font-size: 2.5em;
    /* margin-bottom: 1.5em; */
    font-weight: 500;
}

.profile-badges {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-top: 2em;
    margin-bottom: 2em;
    margin-right: 15em;
    text-align: left;
    justify-content: space-between;
    word-wrap: break-word;
}

.diamond {
    color: rgb(211, 50, 130);
    font-weight: 600;
    padding: 0.5em;
}

.golden {
    color: #ffd900;
    font-weight: 600;
    padding: 0.5em;
}

.silver {
    color: #c0c0c0;
    font-weight: 600;
    padding: 0.5em;
}

.bronze {
    color: #bd5e00;
    font-weight: 600;
    padding: 0.5em;
}

.platinum {
    color: #63adb3;
    font-weight: 600;
    padding: 0.5em;
}

.messages-panel {
    height: fit-content;
    width: 100%;
    margin-top: 4em;
    padding-bottom: 1em;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: justify;
}

.starredMsgs {
    float: left;
    color: black;
    font-size: 1.7em;
    height: 100%;
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.starredMsgs:active,
.starredMsgs:focus,
.starredMsgs:hover {
    font-size: 2em;
    font-weight: bold;
    color: #18a399;
    text-decoration: underline;
}

.mentionMe {
    float: left;
    color: black;
    font-size: 1.7em;
    height: 100%;
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.mentionMe:hover {
    font-size: 2em;
    color: #18a399;
    font-weight: bold;
    text-decoration: underline;
}